
html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer {
  height: 50px;
}

.post-head {
  padding-bottom: 1em;
}
